html { font-size: 22px;
    font-family: 'Inter', sans-serif;
    color: #0A3641;
    font-weight: 400; /* Regular */}
body { 
    padding: 1rem; 
    background-color: #c3cdcdcf;

}
form input, form textarea {
    width: 70%;
}
label {
    display: block;
}
.form-labels, .form-button {
    display: block;
}
.sign-container {
    display: grid;
    margin: 80px;
}
.personal-detail {
    grid-column: 1 / -1;
    padding: 10px;
    margin-bottom: 30px;
}



