head {
    
}
header {
    background-color: #0a364134;
    padding: 20px 2%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    border-bottom: 1px solid #c0A3641c; 
}

body {
    background-color: #c3cdcdcf;
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Regular */
    margin: 2px
}
h1 {
    font-weight: 700; /* Bold */
}
p {
    font-weight: 300; /* Light */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav, .right-nav {
    display: flex;
    gap: 20px;
    align-items: center; 
}

.left-nav {
    display: flex;
    gap: 20px;
    align-items: center; 
    justify-content: flex-start; 
}

.left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.left-nav a {
    text-decoration: none;
    color: #0A3641; 
}


.logo {
    flex-shrink: 0; 
    max-width: 200px; 
    margin: 0 auto; 
    gap: 0px;
}

.logo img {
    max-width: 70%;
    height: auto;
    display: block; 
    gap: 0px;
}

.icons {
    display: flex;
    gap: 20px;
    max-width: 100%;
}


.icon img {
    width: 30px; 
    height: auto;
}

/* Categories Section Styles */
.categories-section {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1px;
}

.category {
    flex-grow: 1;
    text-align: center;
    position: relative;
    overflow: hidden; 
    border-right: 1px solid #ccc; 
}

.category:last-child {
    border-right: none; /* Remove right border for the last category */
}

.category h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-bottom: 2px;
}

nav a {
    display: block;
    padding: 10px;
    background-color: rgba(0, 123, 255, 0);
    color: #0A3641;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/* Category Background Images */
.category:nth-child(1) {
    background: url('shop_by_activity_03.jpg') center/cover no-repeat;
    max-width: 400px;
}

.category:nth-child(2) {
    background: url('shop_by_category_03.jpg') center/cover no-repeat;
    max-width: 400px;
}

.category:nth-child(3) {
    background: url('shop_by_season_03.jpg') center/cover no-repeat;
    max-width: 400px;
}

/* Product Card Styles */

.product-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure that the items stay in a single row without wrapping */
    overflow-x: auto; /* Add horizontal scrolling if the content overflows */
}
.product-card {
    border: 1px solid #0a364123; /* Adjust border color */
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin-bottom: 20px;
    flex: 0 0 auto; /* Allow the product cards to grow and shrink as needed */
    margin-right: 5px; /* Add spacing between the cards, adjust as needed */
}

.product-card img {
    max-width: 250px;
    height: auto;
}

.product-name {
    color: #0A3641;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.brand-name {
    color: #0a364174;
    margin-bottom: 10px;
}

.color-circles {
    display: flex;
    margin-bottom: 10px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    /* Add background color or background image for each color */
}

.price {
    font-weight: bold;
    color: #0A3641; 
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Set a height if needed */
}

/* Footer Styles */
footer {
    border-bottom: 1px solid #c0A3641c; 
    background-color: #5C6C72;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative; 
}

.logo-section {
    position: absolute;
    bottom: 0; 
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center horizontally */
}

/* Footer Sections */
section {
    text-align: center;
}

/* Heading Styles */
section h5 {
    margin-bottom: 10px;
}

/* List Styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Links in Lists Styles */
li {
    margin-bottom: 8px;
}

/* Social Links */
.socials-section a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.socials-section a:hover {
    color: #0A3641; /* Change color on hover, adjust as needed */
}

/* Coming Soon Section Styles */
.coming-soon-section {
    
    background-color: #f8f8f800;
    padding: 20px;
    text-align: center;
}

.center-container {
    margin-bottom: 20px;
}

/* Image Container Styles */
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-container img {
    border: 1px solid #0a3641;
    max-width: 200px;
    height: auto;
    margin-right: 10px; /* Add margin between images */
}
