
body {
    background-color: #c3cdcdcf;
    color: #0A3641;
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Regular */
    margin: 0px
}

header {
    background-color: #0a364134;
    padding: 8px 2%; 
    display: inline;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c0A3641c; 
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav, .right-nav {
    display: flex;
    gap: 20px;
    align-items: center; 
    color: #0A3641;
}

.left-nav {
    display: flex;
    gap: 20px;
    align-items: center; 
    justify-content: flex-start; 
}

.left-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.left-nav a {
    text-decoration: none;
    color: #0A3641; 
}


.logo {
    flex-shrink: 0; 
    max-width: 100px; 
    margin: 0 auto; 
    gap: 10px;
    padding: 50px;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: float; 
    gap: 10px;
}

.icons {
    display: flex;
    gap: 20px;
    max-width: 100%;
    padding: 30px;
}


.icon img {
    width: 30px; 
    height: auto;
}

/* AD CONTAINER */
.ad-container {
    background: url('/images/ad_man_on_mountain_02.jpg') center/cover no-repeat; /* Replace 'your-image.jpg' with the path to your image */
    text-align: left;
    color: #0A3641; 
    padding: 100px;
    margin-top: 0;
    margin-bottom: 30px;
}

h1 {
    font-weight: bold; 
    font-size: 3em;
    margin: 0;
}

h2 {
    font-weight: lighter; 
    font-size: 2em;
    margin: 0;
}


nav {
    margin-top: 20px; /* Add margin to the navigation for spacing */
}

.ad-button {
    background-color: #0a36415f; /* Button background color */
    color: #0A3641; /* Button text color */
    padding: 10px 20px; /* Adjust padding for the button */
    font-size: 25px; /* Adjust font size for the button */
    border: none; /* Remove button border */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 5px;
}

.ad-button:hover {
    background-color: #0a364195; /* Change background color on hover */
}

/* Categories Section Styles */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-bottom: 2px;
}

nav a {
    display: block;
    padding: 10px;
    background-color: rgba(0, 123, 255, 0);
    color: #0A3641;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/* Category Background Images */

.item {
    flex: 1;
    padding: 20px;
    margin: 1px;
  }
  
  .activity {
    background-image: url(images/shop_by_activity_03.jpg);
  }
  
  .category {
    background-image: url(images/shop_by_category_03.jpg);
  }
  
  .season {
    background-image: url(images/shop_by_season_03.jpg);
  }


  @media only screen and (min-width: 600px){
    .container{
        flex-direction: row;
    }
  }

/* Product Card Styles */
.product-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure that the items stay in a single row without wrapping */
    overflow-x: auto; /* Add horizontal scrolling if the content overflows */
    margin-bottom: 20px;
    color: #ffffff;
}
.product-card {
    border: none; /* Adjust border color */
    padding: 0px;
    margin-bottom: 20px;
    flex: 0 0 auto; /* Allow the product cards to grow and shrink as needed */
    margin-right: 5px; /* Add spacing between the cards, adjust as needed */
}

.product-card img {
    max-width: 250px;
    height: auto;
}

.product-card:hover {
    background-color: #0a364125;
    border: none;
    border-radius: 3px;
    
}
@media only screen and (min-width: 600px){
    .container{
        flex-direction: row;
     }
    }
.product-name {
    color: #0A3641;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.brand-name {
    color: #0a364174;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #0A3641; 
}

/* REGULAR BUTTON */
button {
    background-color: #0a364100;
    color: #0A3641;
    padding: 15px 30px;
    font-size: 16px;
    border: 1px solid #0a364198;
    border-radius: 2px; 
    cursor: pointer;
    margin-bottom: 50px;
}

button:hover {
    background-color: #0a364135;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Set a height if needed */
}

/* BRAND INFO */
.brand-section {
    background: url('/images/about_text_mountain.jpg') center/cover no-repeat; /* Replace 'your-image.jpg' with the path to your image */
    text-align: center;
    align-items: center;
    color: #ffffff; 
    padding: 50px;
    margin-top: 0;
    font-weight: 200; /* not working? */
}

/* COMING SOON - Section Styles */
.coming-soon-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin: 50px;
}

.images {
    flex: 1;
    padding: auto;
    margin: 10px;
}
.pic1 {
    background-image: url(images/coming_soon_05.jpg)
}
.pic2 {
    background-image: url(images/coming_soon_06.jpg)
}
.pic3 {
    background-image: url(images/coming_soon_07.jpg)
}
.pic4 {
    background-image: url(images/coming_soon_08.jpg)
}

.center-container {
    margin-bottom: 20px;
}

/* FOOTER STYLES */
footer {
    border-bottom: 1px solid #c0A3641c; 
    background-color: #5C6C72;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    position: relative; 
}

.logo-section {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
}

/* FOOTER SECTIONS */
section {
    text-align: center;
}

/* HEADING STYLES */
section h5 {
    margin-bottom: 10px;
}

/* List Styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Links in Lists Styles */
li {
    margin-bottom: 8px;
}

/* Social Links */
.footer-section a {
    text-decoration: none;
    color: #3d3d3d;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #0A3641; /* Change color on hover, adjust as needed */
}


/* IMAGE CONTAINER STYLES */
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-container img {
    border: none;
    max-width: 200px;
    height: auto;
    margin-right: 0px; /* Add margin between images */
}
