.container {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    padding: 10px;
    margin: 10px;
  }
  
  .one {
    background-image: url(images/shop_by_activity_03.jpg);
  }
  
  .two {
    background-image: url(images/shop_by_category_03.jpg);
  }
  
  .three {
    background-image: url(images/shop_by_season_03.jpg);
  }


  @media only screen and (min-width: 600px){
    .container{
        flex-direction: row;
    }
  }