.body {
font-family: 'Inter', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;

  }
  @media only screen and (min-width: 600px){
    .container {
        flex-direction: row;
    }
  }
.item {
    flex: 1;
    padding: 10px;
    margin: 5px;
    max-width: 200px;
  }
  
.one {
    background-color: #ffffff00;
    
    
  }
  
.two {
    background-color: #ffffff00;
  }
  
.three {
    background-color: #ffffff00;
  }
  
.four {
    background-color: #ffffff00;
  }

.five {
    background-color: #ffffff00;
  }
  
.h2 {
    font-weight: 200;
}

  .product {
    max-width: 200px;
  }